__pycache__/*
.mypy_cache/*
.stack-work/
.vim/sessions/*
packer_compiled.vim
.config/zsh/.zim/*
.config/zsh/.zcompcache/*
*.zwc*
.zcompdump
.zhistory
.zlogin
myXmonad.cabal
undodir
.netrwhist
.config/zsh/functions.local/*
.config/zsh/completions/*
.config/zsh/.zcompdump*
.config/nvim/spell
test.py
Pipfile*
